.productMainpageContainer{
    width: 100%;
    display: flex;
  
    align-items: center;
    justify-content: center;
   

}

.ProductssearchContainer{
    min-height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.allProductContainer{
    width: 80%;
}

.Allproducts{
  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productSorter{
   
    display: flex;
    align-items: baseline;
    justify-content: space-between;
   
 
}
.priceSlider{
  width: 250px;
}

.ShoppingCartOutlined{
font-size: 30px;
cursor: pointer;

}