.productMainpageContainer{
    width: 80%;
    // display: flex;
     padding: 30px 0px 0px 0px;
    // align-items: center;
    // justify-content: center;
   

}

.allProductContainer_outer{
    display: flex;
    flex-direction: column;
    width: 100% !important;
}

.ProductssearchContainer{
    min-height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cartAndProductSorterContainer{
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;

    :global{
        .ant-input-search-with-button{
            width: 100%;
        }
    }
}

.allProductContainer{
    width: 100%;
   
}

.LeftFiltersContainer{
   
    width: 50%;
}


@media screen and (max-width: 700px) {
    .LeftFiltersContainer{
   
        width: 100%;
    }
}

.Allproducts{
  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
// .productSorter{
   
//     display: flex;
//     align-items: baseline;
//     justify-content: space-between;
   
 
// }
.priceSlider{
  width: 80%;
    // :global{
    //     .ant-slider-handle{
    //             border-radius: 0% !important;
    //             background-color: black;
    //             border: none;
    //             width: 5px;
    //             height: 14px;
    //             &:focus {
    //                 background-color: black !important;

    //             }
    //     }
    //     .ant-slider-step{
    //         background-color: black !important;

    //     }
        
    // }


}

.ShoppingCartOutlined{
font-size: 30px;
cursor: pointer;
 
}

.productNamePriceContainer{

    width: 100%; 
    height: 10%;
   
}

.productNamePriceContainerImgCol{
     padding:5px 5px
    // display: flex;
    // align-items: center;
    // justify-content: space-around;
    // :global{
    //     .ant-card-bordered {
    //         border: none !important;
            
    //     }
    // }
    
}

.productNamePriceContainerImgContainer{
    // position: relative;
    // display: flex;
    // flex-flow: column;
    // text-align: center;
    // align-items: center;

     //height: 100%;
     width:  300px;
  
}

.productNamePriceContainerImg{

     width:  100%;
    // height: 280px;
    // object-fit: cover;
    // border-radius: 10px !important;
    // height: 280px;
    height: 280px;
   
}


.categoryFilterList{
    cursor: pointer;
    
}

.cartDrawer{
   
        .ant-drawer-body{
            padding: 0 !important;
        }
    
}

.cartProceedButton{
    background-color: black;
    color: white;
    width: 120px;
    height: 50px;
    margin: 0 auto;
    display: block;
}

.filterResult{
    width: 100%;
    display: flex;
    justify-content: space-between;

    h4{
        cursor: pointer;
    }

}

.displayProductOuterContainer{

    width: 100%;
}
.displayProductOuterContainerRow{
    width: 100% !important;
}

.allProductCol1{
//   border-right: 1px solid rgba(0, 0, 0, 0.06);
//   margin-top: -30px;
//   padding-top: 30px;
display: flex;
justify-content: center;
width: 100%;
 
}

.allProductCol2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LeftFiltersResetBtn{
    margin: 0 auto;
    display: block;
}

.leftFilterCollapse{
    width: 100%;
    background-color: white;
    padding-bottom: 20px;

    :global{
        .ant-collapse-content-box{

            display: flex;
            align-items: center;
           justify-content: center;
        }
    }
}