.userProfilecontainer{
    width: 70%;
}

.collapseContainer{
    width: 100%;
}

.userInfoContainer{
    

    :global{
        .ant-form{
            width: 100%;
        }
       
    }
  
}
.userInfoRowContainer{
    width: 100%;
    
}

.fields{
    width: 100%;
    p:nth-child(1) {
       font-size: 14px;
       font-weight: 600;
       width: 20%;
    }
      
    p:nth-child(2) {
        width: 80%;
       color: red;
    }

}

.userInfoCol{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}