.inventoryContainer{
    width: 100%;
    height: 100%;
}

.circleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    height: 12px;
    width: 12px;
    border-radius: 50%;
     background: radial-gradient(circle at 65% 15%, white 1px, aqua 3%, rgb(20, 97, 55) 60%, aqua 100%);   
}

.stepsContent{

    min-height: 330px;
}

.codeBoxShape{
    top: 250px;
    height: 50px;
    width: 50px;

    background-color: rgb(236, 126, 92);
}

.stepTwoContainer{
    padding-top: 15px;

}
.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}