.SpecificProductContainer{
 

    width: 80%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20%;
}




.imageContainer{
    width: 100%;
    // max-height: 700px;
    // min-height: 700px;
}
.productdetailContainer{
    width: 100%;
}
.productdetailContainer_inner{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
     
}

.addToCartButton{
    width: 200px;
    height: 70px;
    background-color: black;
    color: white;
}

ul{
    list-style-type: none;
}

li{

   
    span:hover{
        cursor: pointer;
        color: rgba(8, 8, 8, 0.562);
    }
}

.productDetailSelect{
    width: 100%;
    margin-bottom: 50px;
}

.leftFilterCollapse{
    width: 100%;
}

.specificImage{
    cursor: pointer;
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
    height:500px;
}