.SelectDropdownContainer{

  

    :global{
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector{
        background-color: #ffffff;
        border-radius: 5%;
    }   
    .ant-select-show-search.ant-select-single:not(.ant-select-customize-input) .ant-select-selector input{
        &:hover{
            cursor: pointer;
        }
        &:focus{
            cursor: text;
        }    
    }
           
    }


}

.SelectDropdown{
    padding-left: 5px;
}

.icon{
    font-size: 20px;
    vertical-align: -0.425em;
}