
 

 html{
 // overflow: hidden;
 overflow-y: scroll;
  height:100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 }
 
 body {
    
  position: relative;
  overflow-y: scroll !important;
  height: 100%;
 
 
  }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 

 
