
 .backgroundImageContainer{
    height: 810px;
     background-image:url(../assests/Image/hover_1.jpg);
     display: flex;
     align-items: center;

 }
.sixBoxesContainer{
  height: 100%;
 width: 100%;
 

}


.descriptionContainer{
    padding-left: 20px;
}

.descriptionTitle{
    
    width: 20%;
    border-bottom:2px solid #000000;
}
.imageContainer{
    display: inline-block;
position: relative;
}
.image{
    height: 200px;
    width: 100%;
    font-size: 0;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    // background-color: #008CBA;
  }
  

  .overlay:hover{
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    position: relative;
  }

 .textOverlay{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
 }