.drawerSVG{
  max-width: 100%;
  width: 100%;
}
.drawer{
  a{text-decoration: none;}
    :global{
      .ant-drawer-body{
        padding: 0px !important;
       
       
      
      }
      .ant-menu-item-selected a, .ant-menu-item-selected a:hover {
        color: #707070;
    }
      .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
        background-color: transparent;
        &:hover{
        background-color: rgba(239, 247, 243, 0.541);;
        }
      }
    }


    h2{
      color: #707070;
    }
  
}

.drawerImgContainer{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
 


.appHeaderContainer{
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  // position: relative;
  //background-color: white;
}

// .listIcon{

//     font-size: 30px;
//        cursor: pointer;
//        padding-top: 15px;
   
//    }
   
//    .listIconContainer{
//     padding-right: 12px;
//    }

//    .navCartIconContainer{
//       // margin-top: 12px !important;
//       // padding-right: 12px;
//    }

// .pointer{
//     cursor: pointer;
//     &:link{
//             text-decoration: none;

//           }
//     &:visited{
//             text-decoration: none;
//           }

//             color: #000000;
//             text-decoration: none;

// }
.functionGroups{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
     width: 150px!important;
    // > div,span{
    //     margin-right: 8px;
    // }
    
}
// .userMenuDropDown{
//     min-width: 160px;
// }
// .appNavContainer{
//     // min-height: 50px !important;
//   //   width: 100% !important;
//   // background-color: white;
// }


.landingNav{

  //  :global{
  //    .ant-drawer-body{
  //      background-color: yellow !important;
  //    }
  //  }
  width: 100%;
 
  z-index: 9999;

  }


.landingNavLinks{
  width: 100%;
 flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px !important;

  }


  .landingNavHeader{
    font-size: 45px;
    padding-left: 6%;
    color: #131313;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  
  }

  .landingNavLinksRight{
    width: 100%;
    display: flex;
    align-items: flex-end;
  justify-content: flex-end;
    
     
  }

  
  .navLinksRightContainer{

    width: 500px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 25px;
    font-weight: 600px ;
   
  }
.navText{
  margin: 0px !important;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  color: white;
}






  .menuIcon{
   
    font-weight: 600;
    z-index: 1;
  }

  @media screen and (max-width: 425px) {
    .navLinksRightContainer{
      justify-content: flex-end;
      padding-right: 10px;
    }

    .landingNavLinksRight {
      justify-content: flex-end;
    }
    .menuIcon{
      padding-right: 15px; 
    }
  
  }

